@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./assets/Fonts/KumbhSans-Regular.woff2') format('woff2'),
        url('./assets/Fonts/KumbhSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./assets/Fonts/KumbhSans-Medium.woff2') format('woff2'),
        url('./assets/Fonts/KumbhSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./assets/Fonts/KumbhSans-Bold.woff2') format('woff2'),
        url('./assets/Fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('./assets/Fonts/KumbhSans-SemiBold.woff2') format('woff2'),
        url('./assets/Fonts/KumbhSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/Fonts/Inter-Regular.woff2') format('woff2'),
        url('./assets/Fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/Fonts/Inter-Bold.woff2') format('woff2'),
        url('./assets/Fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


body{
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-family: "Kumbh Sans", sans-serif;
}
.active{
    background-color: #509CDB;
}
.search-input::placeholder{
  color: #8A8A8A;
  font-size: 14px;
  line-height: 17.36px;
  font-weight: 500;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;   
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }